<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_list.name %>
</p>

<%= link_to 'Edit', edit_product_list_path(@product_list) %> |
<%= link_to 'Back', product_lists_path %>
